// Colors
$background: #fff;
$icon: #33394e;
$brand: #2f285a;
$brand_light: rgba(47, 40, 90, 0.08);
$brand_light_1: rgba(47, 40, 90, 0.15);
$brand_light_2: rgba(47, 40, 90, 0.4);

$green: #28b043;
$green_light: rgba(40, 176, 67, 0.2);
$red_dark: rgb(252, 89, 89);
$red: rgba(255, 151, 151, 0.25);
$red: rgba(255, 151, 151, 0.25);
$orange: rgba(255, 149, 83, 0.2);

// Sizes
$radius: 10px;
